.Rproj.user
.Rhistory
.RData
.Ruserdata
notebook
data/45/45.log
data/4/4_9.psydat
data/4/4_9.csv
data/4/4_8.psydat
data/4/4_8.csv
data/4/4_7.psydat
data/4/4_7.csv
data/4/4_6.psydat
data/4/4_6.csv
data/4/4_5.psydat
data/4/4_5.csv
data/4/4_42.psydat
data/4/4_42.csv
data/4/4_41.psydat
data/4/4_41.csv
data/4/4_40.psydat
data/4/4_40.csv
data/4/4_4.psydat
data/4/4_4.csv
data/4/4_39.psydat
data/4/4_39.csv
data/4/4_38.psydat
data/4/4_38.csv
data/4/4_37.psydat
data/4/4_37.csv
data/4/4_36.psydat
data/4/4_36.csv
data/4/4_35.psydat
data/4/4_35.csv
data/4/4_34.psydat
data/4/4_34.csv
data/4/4_33.psydat
data/4/4_33.csv
data/4/4_32.psydat
data/4/4_32.csv
data/4/4_31.psydat
data/4/4_31.csv
data/4/4_30.psydat
data/4/4_30.csv
data/4/4_3.psydat
data/4/4_3.csv
data/4/4_29.psydat
data/4/4_29.csv
data/4/4_28.psydat
data/4/4_28.csv
data/4/4_27.psydat
data/4/4_27.csv
data/4/4_26.psydat
data/4/4_26.csv
data/4/4_25.psydat
data/4/4_25.csv
data/4/4_24.psydat
data/4/4_24.csv
data/4/4_23.psydat
data/4/4_23.csv
data/4/4_22.psydat
data/4/4_22.csv
data/4/4_21.psydat
data/4/4_21.csv
data/4/4_20.psydat
data/4/4_20.csv
data/4/4_2.psydat
data/4/4_2.csv
data/4/4_19.psydat
data/4/4_19.csv
data/4/4_18.psydat
data/4/4_18.csv
data/4/4_17.psydat
data/4/4_17.csv
data/4/4_16.psydat
data/4/4_16.csv
data/4/4_15.psydat
data/4/4_15.csv
data/4/4_14.psydat
data/4/4_14.csv
data/4/4_13.psydat
data/4/4_13.csv
data/4/4_12.psydat
data/4/4_12.csv
data/4/4_11.psydat
data/4/4_11.csv
data/4/4_10.psydat
data/4/4_10.csv
data/4/4_1.psydat
data/4/4_1.csv
data/4/4.psydat
data/4/4.log
data/4/4.csv
data/3/3_1.psydat
data/3/3_1.csv
data/3/3.psydat
data/3/3.log
data/3/3.csv
data/1/1.psydat
data/1/1.log
data/1/1.csv
analysis/plots/Time-Series Across Participants.pdf
analysis/plots/Indvls_Plots.pdf
analysis/plots/individuals_detrend.pdf
analysis/plots/individuals.pdf
analysis/plots/FFT Across Participantsone.pdf
analysis/plots/FFT Across Participantsdemeanonly.pdf
analysis/plots/FFT Across Participantsdemeananddetrend.pdf
analysis/plots/FFT Across Participants_nwq.pdf
analysis/plots/FFT Across Participants2.pdf
analysis/plots/FFT Across Participants153.pdf
analysis/plots/FFT Across Participants1.pdf
analysis/plots/FFT Across Participants.pdf
